<!DOCTYPE html>
<html lang="en">

<head>
    {{>header}}
</head>

<body>
    <nav>
        <input type="checkbox" id="check">
        <label for="check" class="checkbtn">
            <i class="fas fa-bars"></i>
        </label>
        <label class="logo">Tushar</label>
        <ul>
            <li><a href="/index">Home</a></li>
            <li><a href="/about">About</a></li>
            <li><a href="/login">Login</a></li>
            <li><a class="active" href="/logout">Logout</a></li>
            <li><a href="/register">Registration</a></li>
        </ul>
    </nav>
    <h1>Logout successfully!</h1>
</body>

</html>