<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
    {{>header}}
</head>

<body>
    <div class="hero">
        <nav>
            <input type="checkbox" id="check">
            <label for="check" class="checkbtn">
                <i class="fas fa-bars"></i>
            </label>
            <label class="logo">Tushar</label>
            <ul>
                <li><a href="/index">Home</a></li>
                <li><a href="/about">About</a></li>
                <li><a href="/login">Login</a></li>
                <li><a href="/logout">Logout</a></li>
                <li><a class="active" href="/register">Registration</a></li>
            </ul>
        </nav>
        <div class="form-box">
            <button type="button" class="toggle-btn-form">Registration</button>
            <form id="registration" class="input-group" action="/register" method="post">
                <input type="text" class="input-field" placeholder="User Id" required name="userid">
                <input type="email" class="input-field" placeholder="Email" required name="email">
                <input type="password" class="input-field" placeholder="Enter Password" required name="password">
                <input type="password" class="input-field" placeholder="Confirm Password" required
                    name="confirmPassword">
                <input type="checkbox" class="checkbox"><span>I agree to the terms conditions</span>
                <button type="submit" class="submit-btn">Register</button>
            </form>
        </div>
    </div>
</body>

</html>